/*
Color scheme
Black       rgb(1, 0, 0);
Peach       rgb(255, 144, 90); 
Orange      rgb(255, 142, 37);
Red         rgb(218, 87, 90);
Blue        rgb(134, 145, 248);
Violet      rgb(203, 144, 196);
*/

.hidden {
    display: none;
}

.unwritten {
    visibility: hidden;
}

body {
    background-color: rgb(1, 0, 0);
    color:rgb(255, 144, 90);
    font-family: 'Orbitron', 'Smooch Sans', sans-serif;
    font-weight: 300;
    text-align: center;
}

button {
    background-color: rgb(134, 145, 248);
    border: none;
    border-radius: 10px;
    margin: 15px 0;
    padding: 10px;
}

button:hover {
    background-color: rgb(218, 87, 90);
}

.dialog-box {
    font-size: 2rem;
}

/******* Frame each screen in a LCARS-inspired interface *******/
.head-div {
    background-color: rgb(255, 144, 90);
    border-radius: 10px 10px 0 0;
    height: 70px;
    margin: 0 auto 30px;
    width: 80%;
}
.display-screen {
    margin: 5px auto;
    width: 80%;
}
.foot-div {
    background-color: rgb(255, 144, 90);
    border-radius: 0 0 10px 10px;
    margin: 15px auto;
    padding: 15px;
    width: 80%;
}

a {
    color: rgb(1, 0, 0);
    text-decoration: underline;
}

.credits {
    color:rgb(1, 0, 0)
}

/* Start screen */
h1 {
    font-size: 3rem;
    /*margin: 80px auto;*/
}

/******* Team-picking *******/
.team-screen {
    height: 200px;
}

.team-screen form {
    float: left;
    padding: 10%;
    margin-bottom: 30px;
}

/******* Score board *******/
.scoreboard {
    width: 80%;
}
.scoreboard:after{
    content: "";
    clear: both;
    display: table;
}
.scoreboard p {
    float: left;
    width: 33.33%;
}

.question {
    font-size: 2rem;
    font-family: 'Smooch Sans', sans-serif;
    width: 80%;
    margin: 50px auto;
}